# Copyright 2021 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

[GLOBAL]
pants_version = "2.15.0"
backend_packages = [
  # This repository demonstrates a mix of Java and Scala, and so both backends are enabled. But each
  # backend can be used independently, so there is no need to expose Scala BUILD file
  # symbols if you have a pure-Java repository (or vice versa).
  #
  # Linters/formatters are also hosted in independent backends, to allow them to be independently
  # enabled.
  "pants.backend.experimental.java",
  "pants.backend.experimental.java.lint.google_java_format",
  "pants.backend.experimental.scala",
  "pants.backend.experimental.scala.lint.scalafmt",
]

[source]
# Pants supports many layouts of sources: from Maven/SBT style project-centric layouts, to
# monorepo layouts. In this case, we have a monorepo layout, with all sources under a `src`
# directory, organized by type.
#
# See https://www.pantsbuild.org/docs/source-roots for more information.
root_patterns = [
  "/src/*",
  "/tests/*",
]

[javac]
args = [
  "-deprecation",
  "-encoding UTF-8",
]

# Configure the specific Scala version to use for a resolve. This version must match the version used for the
# `jvm_artifact` target providing the scala-library runtime jar.
[scala.version_for_resolve]
jvm-default = "2.13.8"

[scalac]
args = [
  "-deprecation",
  "-encoding UTF-8",
  # An option for the compiler plugin enabled below.
  "-P:acyclic:force",
]

[scalac.plugins_for_resolve]
# Resolve-global `scalac` plugins, which are defined as `scalac_plugin` targets.
jvm-default = "acyclic"

[scala-infer]
# Opt in to future change to Scala dependency inference which will become to the default in Pants v2.14+:
#   We have made several improvements to Pants's Scala dependency inference, where we no longer think
#   it's necessary to adding dependencies on sibling targets. If you have compilation failures after
#   disabling this option, please consider opening an issue at
#   https://github.com/pantsbuild/pants/issues/new so that we can continue to improve Pants's
#   dependency inference.
force_add_siblings_as_dependencies = false

[jvm]
# Configure remote debugging options that will be used with `test --debug`.
debug_args = [
  "-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=5005",
]

[anonymous-telemetry]
enabled = true
repo_id = "79B3C35A-85A9-41A4-AAA8-04484F41A8F7"
